-- DropForeignKey
ALTER TABLE "approval_requests" DROP CONSTRAINT "approval_requests_orgId_fkey";

-- DropForeignKey
ALTER TABLE "org_details" DROP CONSTRAINT "org_details_orgId_fkey";

-- DropIndex
DROP INDEX "approval_requests_orgId_idx";

-- DropIndex
DROP INDEX "org_details_orgId_idx";

-- DropIndex
DROP INDEX "org_details_orgId_key";

-- AlterTable
ALTER TABLE "approval_requests" DROP COLUMN "orgId",
ADD COLUMN     "org_id" UUID NOT NULL,
ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "connectors" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "dimension_members" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "dimensions" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "driver_values" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "drivers" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "exports" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "financial_ledger" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "localization_settings" DROP COLUMN "autoFxUpdate",
DROP COLUMN "baseCurrency",
DROP COLUMN "complianceJson",
DROP COLUMN "createdAt",
DROP COLUMN "dateFormat",
DROP COLUMN "displayCurrency",
DROP COLUMN "einvoicingEnabled",
DROP COLUMN "fxRatesJson",
DROP COLUMN "gstEnabled",
DROP COLUMN "numberFormat",
DROP COLUMN "tdsEnabled",
DROP COLUMN "updatedAt",
ADD COLUMN     "auto_fx_update" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "base_currency" TEXT NOT NULL DEFAULT 'USD',
ADD COLUMN     "compliance_json" JSONB,
ADD COLUMN     "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "date_format" TEXT NOT NULL DEFAULT 'MM/DD/YYYY',
ADD COLUMN     "display_currency" TEXT NOT NULL DEFAULT 'USD',
ADD COLUMN     "einvoicing_enabled" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "fx_rates_json" JSONB,
ADD COLUMN     "gst_enabled" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "number_format" TEXT NOT NULL DEFAULT '1,234.56',
ADD COLUMN     "tds_enabled" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "metric_cube" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "org_details" DROP COLUMN "companySize",
DROP COLUMN "createdAt",
DROP COLUMN "orgId",
DROP COLUMN "taxId",
DROP COLUMN "updatedAt",
ADD COLUMN     "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "org_id" UUID NOT NULL,
ADD COLUMN     "tax_id" TEXT,
ADD COLUMN     "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "user_preferences" DROP COLUMN "appearanceJson",
DROP COLUMN "avatarUrl",
DROP COLUMN "createdAt",
DROP COLUMN "jobTitle",
DROP COLUMN "updatedAt",
ADD COLUMN     "appearance_json" JSONB,
ADD COLUMN     "avatar_url" TEXT,
ADD COLUMN     "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "job_title" TEXT,
ADD COLUMN     "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP;

-- CreateIndex
CREATE INDEX "approval_requests_org_id_idx" ON "approval_requests"("org_id");

-- CreateIndex
CREATE UNIQUE INDEX "org_details_org_id_key" ON "org_details"("org_id");

-- CreateIndex
CREATE INDEX "org_details_org_id_idx" ON "org_details"("org_id");

-- RenameForeignKey
ALTER TABLE "approval_requests" RENAME CONSTRAINT "approval_requests_approverId_fkey" TO "approval_requests_approver_id_fkey";

-- RenameForeignKey
ALTER TABLE "approval_requests" RENAME CONSTRAINT "approval_requests_requesterId_fkey" TO "approval_requests_requester_id_fkey";

-- RenameForeignKey
ALTER TABLE "audit_logs" RENAME CONSTRAINT "audit_logs_actorUserId_fkey" TO "audit_logs_actor_user_id_fkey";

-- RenameForeignKey
ALTER TABLE "audit_logs" RENAME CONSTRAINT "audit_logs_orgId_fkey" TO "audit_logs_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "billing_usage" RENAME CONSTRAINT "billing_usage_orgId_fkey" TO "billing_usage_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "chart_of_accounts" RENAME CONSTRAINT "chart_of_accounts_orgId_fkey" TO "chart_of_accounts_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "computation_traces" RENAME CONSTRAINT "computation_traces_modelId_fkey" TO "computation_traces_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "computation_traces" RENAME CONSTRAINT "computation_traces_orgId_fkey" TO "computation_traces_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "connectors" RENAME CONSTRAINT "connectors_orgId_fkey" TO "connectors_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "dimension_members" RENAME CONSTRAINT "dimension_members_dimensionId_fkey" TO "dimension_members_dimension_id_fkey";

-- RenameForeignKey
ALTER TABLE "driver_formulas" RENAME CONSTRAINT "driver_formulas_driverId_fkey" TO "driver_formulas_driver_id_fkey";

-- RenameForeignKey
ALTER TABLE "driver_formulas" RENAME CONSTRAINT "driver_formulas_modelId_fkey" TO "driver_formulas_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "driver_formulas" RENAME CONSTRAINT "driver_formulas_orgId_fkey" TO "driver_formulas_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "driver_values" RENAME CONSTRAINT "driver_values_driverId_fkey" TO "driver_values_driver_id_fkey";

-- RenameForeignKey
ALTER TABLE "driver_values" RENAME CONSTRAINT "driver_values_scenarioId_fkey" TO "driver_values_scenario_id_fkey";

-- RenameForeignKey
ALTER TABLE "drivers" RENAME CONSTRAINT "drivers_modelId_fkey" TO "drivers_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "drivers" RENAME CONSTRAINT "drivers_orgId_fkey" TO "drivers_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "exports" RENAME CONSTRAINT "exports_createdById_fkey" TO "exports_created_by_id_fkey";

-- RenameForeignKey
ALTER TABLE "exports" RENAME CONSTRAINT "exports_modelRunId_fkey" TO "exports_model_run_id_fkey";

-- RenameForeignKey
ALTER TABLE "exports" RENAME CONSTRAINT "exports_orgId_fkey" TO "exports_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "financial_ledger" RENAME CONSTRAINT "financial_ledger_orgId_fkey" TO "financial_ledger_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "financial_scenarios" RENAME CONSTRAINT "financial_scenarios_modelId_fkey" TO "financial_scenarios_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "financial_scenarios" RENAME CONSTRAINT "financial_scenarios_orgId_fkey" TO "financial_scenarios_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "forecasts" RENAME CONSTRAINT "forecasts_modelId_fkey" TO "forecasts_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "forecasts" RENAME CONSTRAINT "forecasts_orgId_fkey" TO "forecasts_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "invitation_tokens" RENAME CONSTRAINT "invitation_tokens_createdById_fkey" TO "invitation_tokens_created_by_id_fkey";

-- RenameForeignKey
ALTER TABLE "invitation_tokens" RENAME CONSTRAINT "invitation_tokens_orgId_fkey" TO "invitation_tokens_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "jobs" RENAME CONSTRAINT "jobs_orgId_fkey" TO "jobs_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "localization_settings" RENAME CONSTRAINT "localization_settings_orgId_fkey" TO "localization_settings_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "metric_cube" RENAME CONSTRAINT "metric_cube_geographyId_fkey" TO "metric_cube_geography_id_fkey";

-- RenameForeignKey
ALTER TABLE "model_runs" RENAME CONSTRAINT "model_runs_modelId_fkey" TO "model_runs_model_id_fkey";

-- RenameForeignKey
ALTER TABLE "model_runs" RENAME CONSTRAINT "model_runs_orgId_fkey" TO "model_runs_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "models" RENAME CONSTRAINT "models_createdById_fkey" TO "models_created_by_id_fkey";

-- RenameForeignKey
ALTER TABLE "models" RENAME CONSTRAINT "models_orgId_fkey" TO "models_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "monte_carlo_jobs" RENAME CONSTRAINT "monte_carlo_jobs_modelRunId_fkey" TO "monte_carlo_jobs_model_run_id_fkey";

-- RenameForeignKey
ALTER TABLE "monte_carlo_jobs" RENAME CONSTRAINT "monte_carlo_jobs_orgId_fkey" TO "monte_carlo_jobs_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "notification_channels" RENAME CONSTRAINT "notification_channels_orgId_fkey" TO "notification_channels_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "notifications" RENAME CONSTRAINT "notifications_orgId_fkey" TO "notifications_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "org_settings" RENAME CONSTRAINT "org_settings_orgId_fkey" TO "org_settings_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "org_settings" RENAME CONSTRAINT "org_settings_updatedById_fkey" TO "org_settings_updated_by_id_fkey";

-- RenameForeignKey
ALTER TABLE "prompts" RENAME CONSTRAINT "prompts_orgId_fkey" TO "prompts_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "prompts" RENAME CONSTRAINT "prompts_userId_fkey" TO "prompts_user_id_fkey";

-- RenameForeignKey
ALTER TABLE "provenance_entries" RENAME CONSTRAINT "provenance_entries_modelRunId_fkey" TO "provenance_entries_model_run_id_fkey";

-- RenameForeignKey
ALTER TABLE "provenance_entries" RENAME CONSTRAINT "provenance_entries_orgId_fkey" TO "provenance_entries_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "provenance_entries" RENAME CONSTRAINT "provenance_entries_promptId_fkey" TO "provenance_entries_prompt_id_fkey";

-- RenameForeignKey
ALTER TABLE "raw_transactions" RENAME CONSTRAINT "raw_transactions_connectorId_fkey" TO "raw_transactions_connector_id_fkey";

-- RenameForeignKey
ALTER TABLE "raw_transactions" RENAME CONSTRAINT "raw_transactions_orgId_fkey" TO "raw_transactions_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "share_tokens" RENAME CONSTRAINT "share_tokens_createdById_fkey" TO "share_tokens_created_by_id_fkey";

-- RenameForeignKey
ALTER TABLE "share_tokens" RENAME CONSTRAINT "share_tokens_orgId_fkey" TO "share_tokens_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "user_org_roles" RENAME CONSTRAINT "user_org_roles_orgId_fkey" TO "user_org_roles_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "user_org_roles" RENAME CONSTRAINT "user_org_roles_userId_fkey" TO "user_org_roles_user_id_fkey";

-- RenameForeignKey
ALTER TABLE "user_preferences" RENAME CONSTRAINT "user_preferences_userId_fkey" TO "user_preferences_user_id_fkey";

-- RenameForeignKey
ALTER TABLE "user_usage" RENAME CONSTRAINT "user_usage_orgId_fkey" TO "user_usage_org_id_fkey";

-- RenameForeignKey
ALTER TABLE "user_usage" RENAME CONSTRAINT "user_usage_userId_fkey" TO "user_usage_user_id_fkey";

-- AddForeignKey
ALTER TABLE "org_details" ADD CONSTRAINT "org_details_org_id_fkey" FOREIGN KEY ("org_id") REFERENCES "orgs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "approval_requests" ADD CONSTRAINT "approval_requests_org_id_fkey" FOREIGN KEY ("org_id") REFERENCES "orgs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "approval_requests_requesterId_idx" RENAME TO "approval_requests_requester_id_idx";

-- RenameIndex
ALTER INDEX "audit_logs_actorUserId_idx" RENAME TO "audit_logs_actor_user_id_idx";

-- RenameIndex
ALTER INDEX "billing_usage_orgId_metric_bucket_time_idx" RENAME TO "billing_usage_org_id_metric_bucket_time_idx";

-- RenameIndex
ALTER INDEX "chart_of_accounts_orgId_idx" RENAME TO "chart_of_accounts_org_id_idx";

-- RenameIndex
ALTER INDEX "computation_traces_modelId_idx" RENAME TO "computation_traces_model_id_idx";

-- RenameIndex
ALTER INDEX "computation_traces_orgId_idx" RENAME TO "computation_traces_org_id_idx";

-- RenameIndex
ALTER INDEX "connectors_orgId_idx" RENAME TO "connectors_org_id_idx";

-- RenameIndex
ALTER INDEX "dimension_members_dimensionId_idx" RENAME TO "dimension_members_dimension_id_idx";

-- RenameIndex
ALTER INDEX "dimension_members_dimensionId_name_key" RENAME TO "dimension_members_dimension_id_name_key";

-- RenameIndex
ALTER INDEX "dimension_members_parentId_idx" RENAME TO "dimension_members_parent_id_idx";

-- RenameIndex
ALTER INDEX "dimensions_modelId_idx" RENAME TO "dimensions_model_id_idx";

-- RenameIndex
ALTER INDEX "dimensions_orgId_idx" RENAME TO "dimensions_org_id_idx";

-- RenameIndex
ALTER INDEX "dimensions_orgId_modelId_name_key" RENAME TO "dimensions_org_id_model_id_name_key";

-- RenameIndex
ALTER INDEX "driver_formulas_modelId_idx" RENAME TO "driver_formulas_model_id_idx";

-- RenameIndex
ALTER INDEX "driver_values_driverId_idx" RENAME TO "driver_values_driver_id_idx";

-- RenameIndex
ALTER INDEX "driver_values_driverId_scenarioId_month_key" RENAME TO "driver_values_driver_id_scenario_id_month_key";

-- RenameIndex
ALTER INDEX "driver_values_scenarioId_idx" RENAME TO "driver_values_scenario_id_idx";

-- RenameIndex
ALTER INDEX "drivers_modelId_idx" RENAME TO "drivers_model_id_idx";

-- RenameIndex
ALTER INDEX "drivers_orgId_idx" RENAME TO "drivers_org_id_idx";

-- RenameIndex
ALTER INDEX "exports_orgId_idx" RENAME TO "exports_org_id_idx";

-- RenameIndex
ALTER INDEX "financial_ledger_orgId_idx" RENAME TO "financial_ledger_org_id_idx";

-- RenameIndex
ALTER INDEX "financial_scenarios_modelId_idx" RENAME TO "financial_scenarios_model_id_idx";

-- RenameIndex
ALTER INDEX "financial_scenarios_orgId_idx" RENAME TO "financial_scenarios_org_id_idx";

-- RenameIndex
ALTER INDEX "forecasts_modelId_idx" RENAME TO "forecasts_model_id_idx";

-- RenameIndex
ALTER INDEX "forecasts_orgId_idx" RENAME TO "forecasts_org_id_idx";

-- RenameIndex
ALTER INDEX "invitation_tokens_orgId_idx" RENAME TO "invitation_tokens_org_id_idx";

-- RenameIndex
ALTER INDEX "jobs_orgId_idx" RENAME TO "jobs_org_id_idx";

-- RenameIndex
ALTER INDEX "localization_settings_orgId_idx" RENAME TO "localization_settings_org_id_idx";

-- RenameIndex
ALTER INDEX "localization_settings_orgId_key" RENAME TO "localization_settings_org_id_key";

-- RenameIndex
ALTER INDEX "metric_cube_departmentId_idx" RENAME TO "metric_cube_department_id_idx";

-- RenameIndex
ALTER INDEX "metric_cube_geographyId_idx" RENAME TO "metric_cube_geography_id_idx";

-- RenameIndex
ALTER INDEX "metric_cube_orgId_modelId_idx" RENAME TO "metric_cube_org_id_model_id_idx";

-- RenameIndex
ALTER INDEX "metric_cube_productId_idx" RENAME TO "metric_cube_product_id_idx";

-- RenameIndex
ALTER INDEX "metric_cube_scenarioId_idx" RENAME TO "metric_cube_scenario_id_idx";

-- RenameIndex
ALTER INDEX "metric_cube_segmentId_idx" RENAME TO "metric_cube_segment_id_idx";

-- RenameIndex
ALTER INDEX "model_runs_modelId_idx" RENAME TO "model_runs_model_id_idx";

-- RenameIndex
ALTER INDEX "model_runs_orgId_idx" RENAME TO "model_runs_org_id_idx";

-- RenameIndex
ALTER INDEX "models_orgId_idx" RENAME TO "models_org_id_idx";

-- RenameIndex
ALTER INDEX "monte_carlo_jobs_modelRunId_idx" RENAME TO "monte_carlo_jobs_model_run_id_idx";

-- RenameIndex
ALTER INDEX "monte_carlo_jobs_orgId_idx" RENAME TO "monte_carlo_jobs_org_id_idx";

-- RenameIndex
ALTER INDEX "notification_channels_orgId_idx" RENAME TO "notification_channels_org_id_idx";

-- RenameIndex
ALTER INDEX "notification_channels_orgId_userId_type_key" RENAME TO "notification_channels_org_id_user_id_type_key";

-- RenameIndex
ALTER INDEX "notification_channels_userId_idx" RENAME TO "notification_channels_user_id_idx";

-- RenameIndex
ALTER INDEX "notifications_orgId_idx" RENAME TO "notifications_org_id_idx";

-- RenameIndex
ALTER INDEX "notifications_userId_idx" RENAME TO "notifications_user_id_idx";

-- RenameIndex
ALTER INDEX "org_settings_orgId_key" RENAME TO "org_settings_org_id_key";

-- RenameIndex
ALTER INDEX "prompts_orgId_idx" RENAME TO "prompts_org_id_idx";

-- RenameIndex
ALTER INDEX "provenance_entries_modelRunId_cell_key_idx" RENAME TO "provenance_entries_model_run_id_cell_key_idx";

-- RenameIndex
ALTER INDEX "provenance_entries_modelRunId_idx" RENAME TO "provenance_entries_model_run_id_idx";

-- RenameIndex
ALTER INDEX "provenance_entries_orgId_idx" RENAME TO "provenance_entries_org_id_idx";

-- RenameIndex
ALTER INDEX "raw_transactions_orgId_idx" RENAME TO "raw_transactions_org_id_idx";

-- RenameIndex
ALTER INDEX "raw_transactions_orgId_source_id_key" RENAME TO "raw_transactions_org_id_source_id_key";

-- RenameIndex
ALTER INDEX "share_tokens_orgId_idx" RENAME TO "share_tokens_org_id_idx";

-- RenameIndex
ALTER INDEX "user_org_roles_orgId_idx" RENAME TO "user_org_roles_org_id_idx";

-- RenameIndex
ALTER INDEX "user_org_roles_userId_idx" RENAME TO "user_org_roles_user_id_idx";

-- RenameIndex
ALTER INDEX "user_org_roles_userId_orgId_key" RENAME TO "user_org_roles_user_id_org_id_key";

-- RenameIndex
ALTER INDEX "user_preferences_userId_idx" RENAME TO "user_preferences_user_id_idx";

-- RenameIndex
ALTER INDEX "user_preferences_userId_key" RENAME TO "user_preferences_user_id_key";

-- RenameIndex
ALTER INDEX "user_usage_orgId_created_at_idx" RENAME TO "user_usage_org_id_created_at_idx";

-- RenameIndex
ALTER INDEX "user_usage_orgId_idx" RENAME TO "user_usage_org_id_idx";

-- RenameIndex
ALTER INDEX "user_usage_userId_idx" RENAME TO "user_usage_user_id_idx";

